<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Data analyzer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><i class="bi bi-house"></i></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Upload Files</a>
                    </li>
                    <li class="=nav-item">
                        <a class="nav-link" href="/last-uploads">Last uploads</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1 class="align-content-center">Анализатор на данни от онлайн обучение</h1>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Качи два отделни xlsx/csv файла</h5>
                        <p class="card-text">Трябва и двата файла да са качени преди да може да се направи анализ.</p>
                        <div id="file2-error" class="alert alert-danger" role="alert" style="display: none">There was error while parsing the file.</div>
                        <div class="row row-padding mt-3">
                            <div class="input-group">
                                <input id="file1-file-picker" type="file" class="form-control" aria-label="Upload" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                            </div>
                        </div>

                        <div class="row row-padding mt-3">
                            <div class="input-group">
                                <input id="file2-file-picker" type="file" class="form-control" aria-label="Upload" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                            </div>
                        </div>
                        <button id="file2-upload-btn" class="btn btn-outline-secondary mt-3" type="button" disabled>
                            <div id="files-uploading-progress" class="spinner-border spinner-border-sm" role="status" style="display: none"></div>
                            Качи
                        </button>
                        <div class="row mt-3">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-outline-primary two-files" disabled>Анализ 1</button>
                                <button type="button" class="btn btn-outline-primary two-files" disabled>Анализ 2</button>
                                <button type="button" class="btn btn-outline-primary two-files" disabled>Анализ 3</button>
                                <button type="button" class="btn btn-outline-primary two-files" disabled>Анализ 4</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Качи архив съдържащ файловете за анализ.</h5>
                        <p class="card-text">След като архивът е качен, ще имате достъп до анализ функционалностите</p>
                        <div id="zip-error" class="alert alert-danger" role="alert" style="display: none">There was error while parsing the file.</div>
                        <div class="row row-padding mt-3">
                            <div class="input-group">
                                <input id="zip-file-picker" type="file" class="form-control" aria-label="Upload" accept="zip,application/octet-stream,application/zip,application/x-zip,application/x-zip-compressed">
                                <button id="zip-upload-btn" class="btn btn-outline-secondary" type="button" disabled>
                                    <div id="zip-uploading-progress" class="spinner-border spinner-border-sm" role="status" style="display: none"></div>
                                    Качи
                                </button>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-outline-primary zip-file" disabled>Анализ 1</button>
                                <button type="button" class="btn btn-outline-primary zip-file" disabled>Анализ 2</button>
                                <button type="button" class="btn btn-outline-primary zip-file" disabled>Анализ 3</button>
                                <button type="button" class="btn btn-outline-primary zip-file" disabled>Анализ 4</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/RestApiClient.js}"></script>
    <script th:src="@{/js/FileManager.js}"></script>
    <script th:src="@{/js/index.js}"></script>
</body>
</html>